{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">Videos</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'media' %}">Media</a></li>
                <li class="breadcrumb-item active" aria-current="page">Videos</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Projects Start -->
<div class="container-xxl py-5" id="photo-display">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-bold text-primary">Highlights</p>
            <h1 class="display-5 mb-5">Wonderful Moments and Memories</h1>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline rounded mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">All </li>
                    <li class="mx-2" data-filter=".first">Latest Highlights</li>
                    <li class="mx-2" data-filter=".second">Popular Highlights</li>
                </ul>
            </div>
        </div>
        <div class="row g-4" id="photos">
            {% for vid in vids %}
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" id="photo" data-wow-delay="0.5s">
                <div class="portfolio-inner rounded">
                  <video width='400' controls>
                    <source src="{{vid.g_video.url}}" type='video/mp4'>
                    Your browser does not support the video tag.
                    </video>
                    <div class="portfolio-text">
                        <h4 class="text-white mb-4">{{vid.video_title}}</h4>
                        <div class="d-flex">
                            <a class="btn btn-lg-square rounded-circle mx-2" href="{{vid.g_video.url}}"
                                data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row py-5">
            <div class="col text-center">
                <button class="btn btn-primary py-3 px-4" id="load-more">Load More</button>
            </div>
        </div>
    </div>
</div>
    <!-- Projects End -->
    <!-- <script>

        let loadMoreBtn = document.querySelector('#load-more');
        let currentItem = 3;
        
        loadMoreBtn.onclick = () =>{
           let boxes = [document.querySelectorAll('#photoss')];
           console.log(boxes[1])
           for (var i = currentItem; i < currentItem + 3; i++){
              boxes[i].style.display = 'inline-block';
           }
           currentItem += 3;
        
           if(currentItem >= boxes.length){
              loadMoreBtn.style.display = 'none';
           }
        }
        
        </script> -->

    {% endblock main-content %}
    
    <script>
        const button = document.getElementById('load-more')
        const ele = document.querySelectorAll('#')
    </script>